/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.navbar{
  background-color: black !important;
}

.jumbotron{
  background-image: url('../signin.jpg');
}

.white{
  color: white
}

.yellow{
  color: #FFD100;
}

.header {
  letter-spacing: 8px;
  text-transform: uppercase;
  background-color: black;
  padding: 1px;
  text-align: center;
  font: 20px "Lato", sans-serif;
  color: white;
}
.topnav {
  width: 100%;
  overflow: hidden;
  background-color: black;
  float: left;
  display: block;
  color: white;
  text-align: center;
  font: 15px "Lato", sans-serif;
  font-style: bold;
  text-transform: uppercase;
  padding: 1px;
  letter-spacing: 10px;
}
.topnav a {
  text-decoration: none;
  color:white
}

