<!DOCTYPE html>
<html>
<head>
	<title>Movie Page!</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1>List of movies in the database</h1>
	<ul>
		<% movies.forEach(function(movie) { %>
		<li>
			Name: <strong> <%= movie.name %> </strong> <br>
			Release Date <strong> <%= movie.releaseDate %> </strong>
			<br><br>
		</li>
		<% }); %>
	</ul>
</body>
</html>