<!DOCTYPE html>
<html lang="en">
<head>

    <title>Cinephile</title>
    <link rel="icon" type="image/png" href="cp.png">
    <style>
        body,html {
            background-image: url("cinemared.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 1000px;
        }
        .header {
            letter-spacing: 8px;
            text-transform: uppercase;
            background-color: black;
            padding: 1px;
            text-align: center;
            font: 20px "Lato", sans-serif;
            color: white;
        }
        .topnav {
            width: 100%;
            overflow: hidden;
            background-color: black;
            float: left;
            display: block;
            color: white;
            text-align: center;
            font: 15px "Lato", sans-serif;
            font-style: bold;
            text-transform: uppercase;
            padding: 1px;
            letter-spacing: 10px;
        }
        a {
            text-decoration: none;
        }
        .topnav a:hover, a:visited {
            background-color: #FFD100;
            color: white;
        }
        .signin table {
            font-family: Arial, Helvetica, sans-serif;
            width: 497px;
            color: aliceblue;
            height: 200px;
            background-color: rgba(255, 255, 255, 0.267);
            position: absolute;
            top: 45%;
            left: 33%;
            padding: 10px;
            margin: -25px 0 0 -25px; 
        }
        .signin h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            letter-spacing: 5px;
            text-transform: capitalize;
            text-align: center;
            color: #FFD100;
            padding: 15px;
            width: 300px;
            background-color: rgba(255, 181, 70, 0);
            border-radius: 20%;
            position: absolute;
            top: 25%;
            left: 40%;
            margin: -25px 0 0 -25px; 
        }
        .signup h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            letter-spacing: 5px;
            text-transform: capitalize;
            text-align: center;
            color: #FFD100;
            padding: 15px;
            width: 300px;
            background-color: rgba(255, 181, 70, 0);
            border-radius: 20%;
            position: absolute;
            top: 75%;
            left: 40%;
            margin: -25px 0 0 -25px; 
        }
        .signup table { 
            font-family: Arial, Helvetica, sans-serif;
            width: 500px;
            color: aliceblue;
            height: 200px;
            background-color: rgba(255, 255, 255, 0.267);
            position: absolute;
            top: 95%;
            left: 33%;
            padding: 10px;
            margin-top: 20px;
            margin: -25px 0 0 -25px; 
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <script href="functions.js"></script>

    <div class="header">
        <h1>Cinephile</h1>
      </div>

      <div class="topnav">
          <a href="/">Home</a> |
          <a href="/explore">Explore</a> |
          <a href="/trailers">Upcoming Movies</a> |
          <a href="/sign">SignIn / SignUp</a>
        </div>
        
      </div>


      <div class="signin">
        <h3>S I G N - I N</h3>
        <form>
            <table>
                <tbody>
                    <tr>
                        <td>Username/Email</td>
                        <td>
                            <input name="username" type="text" required oninvalid="this.setCustomValidity('Please enter your username or email')" oninput="setCustomValidity('')"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input name="password" type="password" required oninvalid="this.setCustomValidity('Please enter your password')" oninput="setCustomValidity('')"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" value="Submit" onclick="validateSignIn()">Login</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="signup">
        <h3>S I G N - U P</h3>
        <form>
            <table>
                <tbody>
                    <tr>
                        <td>Full Name</td>
                        <td>
                            <input name="name" type="text" required oninvalid="this.setCustomValidity('Please enter your full name')" oninput="setCustomValidity('')"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>
                            <input name="username" type="text" required oninvalid="this.setCustomValidity('Please enter your username')" oninput="setCustomValidity('')"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>
                            <input name="phone" type="tel" required oninvalid="this.setCustomValidity('Please enter your phone number')" oninput="setCustomValidity('')"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input name="password" type="password" required oninvalid="this.setCustomValidity('Please enter your password')" oninput="setCustomValidity('')"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" value="Submit" onclick="validateSignUp()">Signup</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</body>
</html>